<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devsoc.hrmaa">
    <!-- To check whether healthcore apk is installed or not -->
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HRMAA_PROTOTYPE"
        tools:targetApi="31">
        <activity
            android:name=".healthConnect.HealthConnectActivity"
            android:exported="false" />
        <activity
            android:name=".fitbit.FitbitActivity"
            android:exported="false" />
        <activity
            android:name=".ecg.ECGActivity"
            android:exported="false"
            android:label="@string/title_activity_ecgactivity"
            android:theme="@style/Theme.HRMAA_PROTOTYPE.NoActionBar" />
        <activity
            android:name=".ppg.PPGActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>